@using Microsoft.AspNetCore.Routing
@using WillBoard.Application.Administration.Queries.AccountInvitations
@using WillBoard.Core.Entities
@using WillBoard.Core.Extensions;
@inject LinkGenerator _linkGenerator
@model AccountInvitationsViewModel
@{
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

<main>
    <article>
        <header>Account - Invitations</header>

        <section>
            <table>
                <tbody>
                    <tr>
                        <th>@nameof(Invitation.InvitationId)</th>
                        <th>@nameof(Invitation.Creation)</th>
                        <th>@nameof(Invitation.BoardId)</th>
                        <th>@nameof(Invitation.Message)</th>
                        <th>Quick action</th>
                    </tr>
                    @foreach (var invitation in Model.InvitationCollection)
                    {
                        <tr>
                            <td>@invitation.InvitationId</td>
                            <td>@invitation.Creation.ToRfc3339String()</td>
                            <td>@invitation.BoardId</td>
                            <td>@invitation.Message</td>
                            <td>
                                <form action="@_linkGenerator.GetPathByAction("AccountInvitationAccept", "Administration", new { accountId = invitation.AccountId, invitationId = invitation.InvitationId })" method="post">
                                    <input type="hidden" name="csrf" value="@ViewData["csrf"]" autocomplete="off">
                                    <button type="submit">Accept</button>
                                </form>
                                <form action="@_linkGenerator.GetPathByAction("AccountInvitationReject", "Administration", new { accountId = invitation.AccountId, invitationId = invitation.InvitationId })" method="post">
                                    <input type="hidden" name="csrf" value="@ViewData["csrf"]" autocomplete="off">
                                    <button type="submit">Reject</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>

        <footer>
            <nav>
                @for (var i = 1; i <= Model.PageMax; i++)
                {
                    @if (i == Model.Page)
                    {
                        <a>@i</a>
                    }
                    else
                    {
                        <a href="@_linkGenerator.GetPathByAction("AccountInvitations", "Administration", new { page = i })">@i</a>
                    }
                }
            </nav>
        </footer>
    </article>
</main>