@using Microsoft.AspNetCore.Routing
@using WillBoard.Application.Administration.Commands.AccountAuthenticationDeactivate
@using WillBoard.Application.Administration.Queries.AccountAuthentications
@using WillBoard.Core.Entities
@using WillBoard.Core.Extensions
@using WillBoard.Core.Interfaces.Providers;
@inject LinkGenerator _linkGenerator
@inject IDateTimeProvider _dateTimeProvider
@model AccountAuthenticationsViewModel
@{
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

<main>
    <article>
        <header>Account - Authentications</header>

        <section>
            <table>
                <tbody>
                    <tr>
                        <th>@nameof(Authentication.AuthenticationId)</th>
                        <th>@nameof(Authentication.Name)</th>
                        <th>@nameof(Authentication.Creation)</th>
                        <th>@nameof(Authentication.Expiration)</th>
                        <th>@nameof(Authentication.AccountId)</th>
                        <th>@nameof(Authentication.IpVersion)</th>
                        <th>@nameof(Authentication.IpNumber)</th>
                        <th>Quick action</th>
                    </tr>
                    @foreach (var authentication in Model.AuthenticationCollection)
                    {
                        <tr>
                            <td>@authentication.AuthenticationId</td>
                            <td>@authentication.Name</td>
                            <td>@authentication.Creation.ToRfc3339String()</td>
                            <td>@authentication.Expiration</td>
                            <td>@authentication.AccountId</td>
                            <td>@authentication.IpVersion</td>
                            <td>@authentication.IpNumber</td>
                            <td>
                                @if (authentication.Expiration > _dateTimeProvider.UtcNow)
                                {
                                    <form action="@_linkGenerator.GetPathByAction("AccountAuthenticationDeactivate", "Administration", new { accountId = authentication.AccountId, authenticationId = authentication.AuthenticationId })" method="post">
                                        <input type="hidden" name="csrf" value="@ViewData["csrf"]" autocomplete="off">
                                        <input type="hidden" name="@nameof(AccountAuthenticationDeactivateCommand.AccountId)" value="@authentication.AccountId" autocomplete="off">
                                        <input type="hidden" name="@nameof(AccountAuthenticationDeactivateCommand.AuthenticationId)" value="@authentication.AuthenticationId" autocomplete="off">
                                        <button type="submit">Deactivate</button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>

        <footer>
            <nav>
                @for (var i = 1; i <= Model.PageMax; i++)
                {
                    @if (i == Model.Page)
                    {
                        <a>@i</a>
                    }
                    else
                    {
                        <a href="@_linkGenerator.GetPathByAction("AccountAuthentications", "Administration", new { page = i })">@i</a>
                    }
                }
            </nav>
        </footer>
    </article>
</main>