@using Microsoft.AspNetCore.Routing
@using WillBoard.Application.Administration.Commands.AccountPasswordChange
@using WillBoard.Application.Administration.Queries.AccountPasswordChange
@inject LinkGenerator _linkGenerator
@model AccountPasswordChangeViewModel
@{
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

<main>
    <article>
        <header>Account - Password - Change</header>
        <section>
            <form method="post">
                <input type="hidden" name="csrf" value="@ViewData["csrf"]" autocomplete="off">
                <input type="hidden" name="@nameof(AccountPasswordChangeCommand.AccountId)" value="@Model.Account.AccountId" autocomplete="off">
                <table>
                    <tbody>
                        <tr>
                            <th>@nameof(AccountPasswordChangeCommand.CurrentPassword)</th>
                            <td>
                                <input type="password" name="@nameof(AccountPasswordChangeCommand.CurrentPassword)" />
                            </td>
                        </tr>
                        <tr>
                            <th>@nameof(AccountPasswordChangeCommand.NewPassword)</th>
                            <td>
                                <input type="password" name="@nameof(AccountPasswordChangeCommand.NewPassword)" />
                            </td>
                        </tr>
                        <tr>
                            <th>@nameof(AccountPasswordChangeCommand.NewPasswordConfirmation)</th>
                            <td>
                                <input type="password" name="@nameof(AccountPasswordChangeCommand.NewPasswordConfirmation)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    <button type="submit">Change</button>
                </p>
            </form>
        </section>
    </article>
</main>