@using Microsoft.AspNetCore.Routing;
@using WillBoard.Application.Administration.Commands.BoardThreadPin
@using WillBoard.Application.Administration.Queries.BoardThreadPin
@using WillBoard.Core.Managers
@using WillBoard.Web.Services
@using WillBoard.Core.Extensions
@inject LinkGenerator _linkGenerator
@inject ViewService _viewService
@inject AccountManager _accountManager
@model BoardThreadPinViewModel
@{
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

<main>
    <article>
        <header>Board - Thread - Pin</header>
        <section>
            <form method="post">
                <input type="hidden" name="csrf" value="@ViewData["csrf"]" autocomplete="off">
                <input type="hidden" name="@nameof(BoardThreadPinCommand.BoardId)" value="@Model.Post.BoardId" autocomplete="off">
                <input type="hidden" name="@nameof(BoardThreadPinCommand.PostId)" value="@Model.Post.PostId" autocomplete="off">
                <table>
                    <tbody>
                        <tr>
                            <th>@nameof(BoardThreadPinCommand.Pin)</th>
                            <td>
                                <input type="checkbox" name="@nameof(BoardThreadPinCommand.Pin)" value="true" @(Model.Post.Pin ? "checked" : "") />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    <button type="submit">Pin @Model.Post.BoardId/@Model.Post.PostId</button>
                </p>
            </form>
        </section>
    </article>
</main>